.section{
	margin-top: 2px;
	margin-left: 30px;
	min-width: 870px;
	width: 74.358974358974358974358974358974%;
}
.Overflow{
  	overflow: hidden;
}

.Products{
	display: flex;
  	flex-wrap: wrap;
}
.Products{
	margin-top: -110px;
	z-index: -1;
	transition:  2.5s;
}
.animation {
	
	display: flex;
  	flex-wrap: wrap;
	transform: translate(100px, 0px)
}
.option-enter{
	opacity: 1;	
}
.option-enter.option-enter-active{
	opacity: 0;
	transition: opacity 2s ease;
}
.option-exit{
	
}
.option-exit.option-exit-active{
	
}
.slideUp{
	display: flex;
  	flex-wrap: wrap;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;    
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;
 
    visibility: visible !important;         
}
 
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}
 
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}